<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uoc.psico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PSICO"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".controlador.consejos.InfoConsejo"></activity>
        <activity android:name=".controlador.psicologos.Busqueda" />
        <activity android:name=".controlador.psicologos.AnadirResena" />
        <activity android:name=".controlador.psicologos.InfoPsicologo" />
        <activity android:name=".controlador.foro.AgregarPostForo" />
        <activity
            android:name=".controlador.perfil.Publicitarse"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".controlador.perfil.Registrarse"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".controlador.perfil.InicioSesion" />
        <activity android:name=".controlador.Perfil" />
        <activity android:name=".controlador.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>